<!DOCTYPE html>
<html>
<head>
    <title>Video test</title>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="application.js"></script>
</head>
<body>

<video id="mainvideo" src="Nose_Barbara.m4v" autobuffer autoloop loop controls ></video>
<br>
<textarea id="commentbox" name="comment" cols="100" rows="10"></textarea>

<hr>
<table id="tbltranscripts">
    <thead>
        <tr>
            <th></th>
            <th>Time</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

</body>
</html>